[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==1.11.12"
"django-bootstrap4" = "*"
cryptography = "*"
mysql-python = "*"
ipaddress = "==1.0.16"
"boto3" = "*"
pycurl = "*"
celery = {extras = ["sqs"]}

[requires]
python_version = "2.7"
