[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==1.11.12"
"django-bootstrap4" = "*"
celery = "*"

[requires]
python_version = "2.7"
